* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

html,
body {

  background: var(--clr_bg);
  color: var(--clr_font);
  font-family: "Mabry";
  font-weight: 400;
  overflow-x: hidden;
  list-style: none;


}


:root {
  --clr_bg: #dcdcdc;
  --clr_font: #111111;
  --clr_font_light: #5d5d5d;
  --clr_font_accent: #42DFB0;
  --clr-spacer-1: 3rem;
  --size_font: 16px;
  --size_font_title: 130px;
  --clicked_top: 100px;
  --clicked_left: 100px;
  --clicked_height: 100px;
  --clicked_width: 100px;
  --hidden: 'none';

}


@font-face {
  font-family: 'Mabry';
  src: url("../fonts/mabry-regular-pro.ttf") format('TrueType');

}

@font-face {
  font-family: 'Gayathri';
  src: url("../fonts/fonts/Gayathri-Bold.ttf") format('OpenType');

}


::selection {
  color: var(--clr_bg);
  background: var(--clr_font_light);
}


.before_transition {
  height: var(--clicked_height);
  width: var(--clicked_width);
  top: var(--clicked_y);
  left: var(--clicked_x);
  position: absolute;
  background-size: cover;
  pointer-events: none;
  user-select: none;
  background-position: center center;
}


a,
a>span {
  position: relative;
  color: inherit;
  text-decoration: none;
  line-height: 20px;

}

a:before,
a:after,
a>span:before,
a>span:after {
  content: '';
  position: absolute;
  transition: transform .5s ease;
}

.hover__1 {
  padding-top: 10px;

}

.hover__1:before {
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1.3px;
  background: var(--clr_font);
  transform: scaleX(0);
}

.hover__1:hover:before {
  transform: scaleX(1);
}

h1 {
  color: var(--clr_font);
  font-size: var(--size_font_title);
  text-transform: uppercase;
  text-align: center;
  width: 100%;
}

h2,
p {
  text-transform: uppercase;
  width: 100%;
}

h3 {
  font-size: var(--size_font);
  font-weight: 500;
}

.elem__title h1 {
  opacity: 0;
}

.title__1 {
  margin-top: 25vh;
}

.elem__quote {
  font-size: var(--size_font);
  line-height: 24px;
  text-transform: uppercase;
  text-align: center;
  color: var(--clr_font_light);
}

.elem__quote h2,
.item__link h3,
.scroll__btn h3 {
  opacity: 0;
}


.elem__slider {
  position: absolute;
  top: 20%;
  left: 0%;
  width: 100vw;
  height: 65%;
  -ms-overflow-style: none;
  scrollbar-width: none;
  z-index: 55;
  opacity: 0;

}


.elem__slider::-webkit-scrollbar {
  display: none !important;
}

*::-webkit-scrollbar {
  display: none !important;
}


.elem__inner__slider {
  position: absolute;
  top: 0;
  left: 0%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 4700px;
  height: 100%;
  will-change: transform;
  z-index: 4;
  pointer-events: none;



}

.elem__item {
  position: relative;
  width: 22vw;
  height: 60vh;
  overflow: hidden;
  transition: transform .5s ease;
  filter: grayscale(100%) contrast(95%) brightness(75%);
  z-index: 6;

}
.elem__item:nth-child(even)
{     
  height: 68vh;
}

.elem__item:hover {
  transition: all .5s ease;
  filter: contrast(95%) brightness(85%);
}

.item__inner {
  position: absolute;
  left: -50%;
  top: 0%;
  width: 200%;
  height: calc(100% - 30px);
  background-size: cover;
  background-position: center;
  will-change: transform;

}



.elem__footer__container {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 20vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-inline: 5%;

}

.elem__footer {
  height: 100%;
  width: 33.3%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 24px;

}

.elem__footer_1 {
  align-items: left;

}

.elem__footer__2 {
  align-items: center;
  text-align: center;
  color: var(--clr_font_light);

}


.elem__footer__3 {
  align-items: flex-end;
  text-align: right;
  color: transparent;
  user-select: none;

}

.container__projet {
  overflow-y: hidden;
}


.projet__bg {
  width: 100vw;
  height: 100vh;
  position: relative;
  background-size: cover;
  background-position: center center;
}

.projet__bg:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center center;
}

.gplus__bg {
  background-image: url('../images/georama+/5.jpg');
}
.spooky__bg{
  background-image: url('../images/spooky/spooky_cover.jpg');
}


.projet__presentation__titles {
  height: 25vh;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: auto;

}

.projet__titles__h1 {
  margin-top: 1.5rem;
}

.projet__titles_p {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: space-between;
  padding-inline: 1rem;
  padding-bottom: 2rem;
  font-size:24px;
}

.projet__titles_p p {
  width: 100%;
}

.projet__titles_p p:first-child {
  text-align: left;
}

.projet__titles_p p:last-child {
  text-align: right;
}

.section__projet__about {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projet__about__images {
  width: 89%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

}

.about__images__image {
  width: 40%;
  margin: auto;

}

.about__infos {
  height: 25vh;
  width: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  margin-top: 3.5rem;
}

.about__infos h3 {
  font-size: 46px;
  text-transform: uppercase;
  text-align: left;
  width: 45%;
}

.about__infos p {
  width: 44.5%;
  text-transform: none;
  line-height: 20px;
  text-align: justify;
 
}
.image__transition{
  width: 80%;
  height: 80%;
  margin-top: 3.5rem;
}
.repeat{
  margin-top: 3.5rem;
}
.transi1{
  width: 100%;
}

.elem__slider {
  pointer-events: none;
}

.petit__nom__sympa {
  position: absolute;
  z-index: 9999;
  background-size: cover;
  background-position: center center;
  pointer-events: none;

}